.col-1 { width: 8.33% ;}
.col-2 { width: 16.66% ;}
.col-3 { width: 25% ;} 
.col-4 { width: 33.33% ;}
.col-5 { width: 41.66%;}
.col-6 { width: 50%;}
.col-7 { width: 58.33%;}
.col-8 { width: 66.66%;}
.col-9 { width: 75%;}
.col-10 { width: 83.33% ;}
.col-11 { width: 91.66% ;}
.col-12 { width: 100% ;}

.nav-logoS{
    text-align: 'left';
}

.nav-heading h1{
text-align: right;
}

.nav-menu a{
    flex-direction: row;
    justify-self: flex-end;
    padding: 5px 10px;
    margin: 20px 0;
}

.profile .top-weather-icon{
    width: 120px;
    right: 100px;
    transition:width 2s, transform 2s;
}
.profile .top-weather-icon:hover{
   width: 120px;
}
.profile .bottom-weather-icon{
    width: 120px;
    left: 140px;
    bottom: 20px;
    transition:width 2s, transform 2s;
}
.profile .bottom-weather-icon:hover{
   width: 120px;
}
.profile-desc p{
    color: rgb(141, 126, 124);
    margin: 0 auto ;
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
}

.aboutme-image{
    margin-top: 20px;
  

}

.aboutme-image img{
    height: 370px;
    width: 300px;
}
.aboutme-desc p{
    text-align: left;

}